name: "Release"

on:
  push:
    tags:
      - "**"

jobs:
  checks:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Python
        uses: chrisgavin/setup-python-action@a34b0464c3d5c42387108464540d11a0e541176f # 0.1.0
      - name: Run
        run: task publish
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
